<div class="log-in-form">
  <form class="row" [formGroup]="logInForm" (submit)="logIn()">
    <div class="col-12">
      <span class="material-icons lock-size"> lock </span>
    </div>
    <div class="col-12">
      <app-input-text
        formControlName="email"
        placeholder="E.g. user@example.com"
        >Email</app-input-text
      >
    </div>
    <div class="col-12">
      <app-input-text formControlName="pass" type="password"
        >Password</app-input-text
      >
    </div>
    <div class="col-12">
      <app-button [style]="'success'" (click)="logIn()">LOG IN</app-button>
    </div>
  </form>
</div>
