.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.login__form {
  width: 50%;
}

.login__form__lock {
  font-size: 10em;
}
