<div class="login">
  <form class="row login__form" [formGroup]="logInForm">
    <div class="col-12">
      <span class="material-icons login__form__lock"> lock </span>
    </div>
    <div class="col-12">
      <app-input-text
        name="email"
        formControlName="email"
        placeholder="E.g. user@example.com"
      >
        Email</app-input-text
      >
    </div>
    <div class="col-12">
      <app-input-text name="password" formControlName="pass" type="password"
        >Password
      </app-input-text>
    </div>
    <div class="col-12">
      <app-button [style]="'success'" (click)="logIn()">LOG IN</app-button>
    </div>
  </form>
</div>
