<div class="timer__row justify-content-center mat-headline text-muted">
  <div class="row">
    <div class="col-12">{{ renderedTime.days }}</div>
    <div class="col-12">days</div>
  </div>
  <div class="row">
    <div class="col-12">{{ renderedTime.hours }}</div>
    <div class="col-12">hours</div>
  </div>
  <div class="row">
    <div class="col-12">{{ renderedTime.minutes }}</div>
    <div class="col-12">minutes</div>
  </div>
  <div class="row">
    <div class="col-12">{{ renderedTime.seconds }}</div>
    <div class="col-12">seconds</div>
  </div>
</div>